/* -- << We Always Serve Your Better >> -- */

/* --** Reset CSS **-- */
* { margin: 0px; padding: 0px; -webkit-box-sizing: border-box; 	-moz-box-sizing: border-box; box-sizing: border-box; -webkit-font-smoothing: antialiased; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; margin: 0; outline: 0; padding: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

body { font-family: 'Play', sans-serif; font-size: 15px; color: #747474; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%;  background: #fff; }
ul, ol { margin: 0 0 10px 25px; }
ol { list-style: square; }
ul { list-style: circle; }
ol:after, ul:after { content: ""; display: block; line-height: 0; clear: both; overflow: hidden; height: 0; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0; }
li { margin: 10px 0px 10px 0px; }

pre { padding: 0.1em 0.5em 0.3em 0.7em; border-left: 11px solid #ccc; margin: 1.7em 0 1.7em 0.3em; overflow: auto; max-width: 500px; }
code, samp, kbd { font-family: "Courier New", Courier, monospace, sans-serif; text-align: left; color: #555; }
pre code { line-height: 1.6em; font-size: 11px; }

table { margin: 25px auto; border-collapse: collapse; border: 1px solid #eee; border-bottom: 2px solid #00cccc; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05); width: 100%; }
table th { background: #00cccc; color: #fff; text-transform: uppercase; font-size: 12px; border: 1px solid #eee; padding: 12px 35px; }
table tr:hover { background: #f4f4f4; }
table tr:hover td { color: #555; }
table td { color: #999; border: 1px solid #eee; padding: 12px 35px; }
table th, td { font-weight: normal; text-align: left; vertical-align: middle; }
table tbody tr:nth-child(2n) { background: #f0f3f5; }

caption { font-weight: normal; text-align: left; }

h1,  h2, h3, h4, h5, h6 { color: #586778; font-weight: normal; }
h1 { font-size: 60px; margin: 5px 0px 15px 0px; }
h2 { font-size: 36px; margin: 5px 0px 15px 0px; }
h3 { font-size: 30px; margin: 5px 0px 15px 0px; }
h4 { font-size: 26px; margin: 5px 0px 15px 0px; }
h5 { font-size: 20px; margin: 5px 0px 15px 0px; }
h6 { font-size: 18px; margin: 5px 0px 15px 0px; }
p { margin: 5px 0px 15px 0px; line-height: 26px; }
em { font-style: italic; }
strong { font-weight: bold }
small { font-size: 80%; }
img { -ms-interpolation-mode: bicubic; border: 0; height: auto; max-width: 100%; vertical-align: middle; display: block;  }
figure { margin: 0; }

/* #Links */
a { color: #f2a755; outline: 0 none; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;  }
a:hover { text-decoration: none; }
a.more { padding-left: 28px; color: #7a594c; display: inline-block; position: relative; letter-spacing: 0.2px; font-family: 'Play', sans-serif; }
a.more:before { content: "\f0a9"; font-size: 130%; position: absolute; left: 0; top: -4px; font-family: fontawesome; }
a.more:hover { color: #c2ead6; }

/* #blockquote */
blockquote:before { top: 0; left: 0; content: "\201C"; }
blockquote:after { top: 0; right: 0; content: "\201D"; } 
q:before { top: 0; left: 0; content: "â€˜"; }
q:after { top: 0; right: 0; content: "â€™"; }
blockquote:before, blockquote:after { position: absolute; width: 60px; height: 60px; font-size: 120px; line-height: 1;}
blockquote, q { -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; quotes: none; }
blockquote { margin: 12px 0 12px 20px; border-left: 10px solid #ececec; position: relative; padding: 30px 70px; text-align: center; font-size: 20px; }

::-webkit-input-placeholder { color: rgba(51, 51, 51, 0.7); }
:-moz-placeholder { color: rgba(51, 51, 51, 0.7); }
::-moz-placeholder { color: rgba(51, 51, 51, 0.7); opacity: 1; /* Since FF19 lowers the opacity of the placeholder by default */ }
:-ms-input-placeholder { color: rgba(51, 51, 51, 0.7); }

/* #Forms */
fieldset { border: 0 none; }
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select { border: 1px solid #ececec; padding: 12px 13px; outline: none; font-size: 15px; font-family: 'Play', sans-serif; color: #c1c1c1; margin: 0; width: 280px; max-width: 100%; display: block; margin-bottom: 20px; background: #fff; height: 40px; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, textarea:focus { border: 1px solid #ececec; color: #747474; -moz-box-shadow: 0 0 3px rgba(0,0,0,.2); -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2); box-shadow: 0 0 3px rgba(0,0,0,.2); }

input[type="text"] { position: relative; }

input[type="text"]::-webkit-input-placeholder:before { position: absolute; top: 0; left:0; background: #000; width: 10px; height: 10px; content:""; display: block;  }


select { padding: 0 0 1px 9px; letter-spacing: 0.9px; border-bottom: 2px solid #d3d3d3; color: #747474; height: 42px; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; background: #ececec url(http://134.209.222.136/mle/images/select-arrow.png) no-repeat scroll 100% center; cursor: pointer; /*Removes border*/-webkit-appearance: none;  /*Removes default chrome and safari style*/ -moz-appearance: none; /* Removes Default Firefox style*/ appearance:none;/* background: #45bf54 url(http://134.209.222.136/mle/images/select-img.png) no-repeat 100% center; */ text-indent: 0.01px; /* Removes default arrow from firefox*/ text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/ background-size: 24px 40px; }
select::-ms-expand { /* for IE 11 */ display: none; }
select option  { padding: 7px 9px; border: 1px solid #ececec; border-left: none; border-right: none;  outline: none; }
select:focus  { padding: 0 0 1px 9px;  border: 1px solid #ececec; color: #747474; background: #fff url(http://134.209.222.136/mle/images/select-arrow.png) no-repeat scroll 100% center; cursor: pointer; /*Removes border*/-webkit-appearance: none;  /*Removes default chrome and safari style*/ -moz-appearance: none; /* Removes Default Firefox style*/ appearance:none;/* background: #45bf54 url(http://134.209.222.136/mle/images/select-img.png) no-repeat 100% center; */ text-indent: 0.01px; /* Removes default arrow from firefox*/ text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/ background-size: 24px 40px; }
textarea { min-height: 60px; }
label, legend { display: inline-block; font-weight: bold; font-size: 13px; }
label { cursor: pointer; margin-right: 50px;}
label:last-child { margin-right: 0;}
label span, legend span { font-weight: normal; font-size: 13px; color: #444; }

/* #Input Buttons */
.button, button, input[type="button"], input[type="Reset"] { padding: 11px 29px 11px 30px; border: 0 none; outline: none; color: #fff; cursor: pointer; display: inline-block; background: #f2a755; font-size: 15px; font-family: 'Play', sans-serif; border-radius: 6px; letter-spacing: 0.8px; }
.button:hover, button:hover, input[type="button"]:hover, input[type="Reset"]:hover { text-decoration: underline;} 

/* #Input Submit */
input[type="submit"] { padding: 8px 26px 8px 27px; border: 0 none; outline: none; cursor: pointer; display: inline-block; border: 3px solid #586778; color: #586778;  font-size: 15px; font-family: 'Play', sans-serif; border-radius: 6px; letter-spacing: 0.8px;  }
input[type="submit"]:hover { text-decoration: underline;} 

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* <<< Input Radio >>> */
input[type="radio"] { display:none; }
input[type="radio"] + label .check { display:inline-block;  margin: -4px 3px 0 0; vertical-align:middle; width: 12px; height: 12px;background:url(http://134.209.222.136/mle/images/radio-icn.png) left top no-repeat; background-size: 12px 12px; cursor:pointer;  }
input[type="radio"]:checked  + label .check { background:url(http://134.209.222.136/mle/images/radio-icn-active.png) left top no-repeat; background-size: 12px 12px; }
input[type="radio"]:disabled + label .check { background:url(http://134.209.222.136/mle/images/radio-icn.png) left top no-repeat; background-size: 12px 12px; cursor: not-allowed; }

/* <<< Input Checkbox >>> */
input[type="checkbox"] { display:none; }
input[type="checkbox"] + label .check { display:inline-block;  margin: -4px 4px 0 0px; vertical-align:middle; width: 20px; height: 19px;background:url(http://134.209.222.136/mle/images/check-icn.png) left top no-repeat; background-size: 20px 19px; cursor:pointer;  }
input[type="checkbox"]:checked  + label .check { background:url(http://134.209.222.136/mle/images/check-icn-active.png) left top no-repeat; background-size: 20px 19px; }
input[type="checkbox"]:disabled + label .check { background:url(http://134.209.222.136/mle/images/check-icn.png) left top no-repeat; background-size: 20px 19px; cursor: not-allowed; }

/* Global */
.clear { content: ""; display: block; line-height: 0; clear: both; overflow: hidden; height: 0; }
.container { max-width: 1430px !important; }
.bg-btn { background: url(http://134.209.222.136/mle/images/right-arrow.png) right center no-repeat; padding-right: 28px; }

ul { padding:  0 !important; }

/* <<< Header >>> */
.header { background: #fff; }
.header .stripe { background: rgba(253, 161, 3, 0.10); padding: 8px 0; } 
.header .stripe ul { list-style: none; margin: 0; display: flex; align-items: center; } 
.header .stripe li { float: left; margin: 0; font-size: 13px; position: relative; padding: 0 8px }
.header .stripe li a { display: inline-block; color: #000; }
.header .stripe li:after { position: absolute; top: 0; right: 0; content: ""; height: 100%; width: 1px; background: #000; }
.header .stripe li:first-child { padding-left: 0; }
.header .stripe li:last-child { padding-right: 0; }
.header .stripe li:last-child:after { display: none; }
.header .stripe .right ul { float: right; }
.header .stripe label { margin: 0; }
.header .mid-side { padding: 10px 0; }
.header .mid-side .row {  align-items: center; }
.header .mid-side ul { list-style: none; margin: 0; float: right; }
.header .mid-side li { float: left; margin: 0; }
.header .mid-side li a { display: inline-block; }
.header .mid-side li:last-child { margin-left: 10px; padding-left: 10px; border-left: solid 1px rgba(0, 0, 0, 0.30); }
.header .menu-side { background: #3E3D79; }
.header .menu-side ul { list-style: none; margin: 0; }
.header .menu-side li { float: left; margin: 0; font-size: 18px; font-weight: 700; position: relative; padding: 0 27px; }
.header .menu-side li a { display: inline-block; color: #FFFBFB; position: relative; padding: 10px 0; }
.header .menu-side li.sub_menu a { background: url(http://134.209.222.136/mle/images/arrow-down.png) right center no-repeat; padding-right: 20px; }
.header .menu-side li a:before { position: absolute; bottom: 0; left: 0; background: #FDA103; height: 4px; width: 0; content: ""; transition: width 0.3s ease-in-out; -webkit-transition: width 0.3s ease-in-out; -moz-transition: width 0.3s ease-in-out; }
.header .menu-side li:hover a:before { position: absolute; bottom: 0; left: 0; background: #FDA103; height: 4px; width: 100%; content: "" }
.header .menu-side li:after{ position: absolute; top: 10px; right: 0; width: 1px; height: 50%; background: rgba(255, 255, 255, 0.20); content: ""; }
.header .menu-side li:first-child { padding-left: 0; }
.header .menu-side li:last-child { padding-right: 0; }
.header .menu-side li:last-child:after { display: none; }
.header .menu-side li .drop_box { width: 200px; position: absolute; top: 41px; left: 0; z-index: 99; background: #fff; display: none; }
.header .menu-side li .drop_box li { font-size: 16px; padding: 0; width: 100%; font-weight: 400; }
.header .menu-side li .drop_box li:after { display: none; }
.header .menu-side li .drop_box li a { background: none; color: #3E3D79; padding: 8px; border-bottom: solid 1px #3E3D79; display: block; }
.header .menu-side li .drop_box li a:before { display: none; }
.header .menu-side li .drop_box li:last-child a { border-bottom: 0; }
.header .menu-side li .drop_box li:hover a { background: #3E3D79; color: #fff; }
.header .menu-side li:hover .drop_box { display: block; transition: 0.5s; }

/*banner section*/
.banner_section { position: relative; }
.banner_section .overlay { width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); position: relative; }
/* .banner_section .banner-logo-slider .owl-stage-outer { overflow: inherit; } */
.banner_section img { width: 100%; }
.banner_section .banner_logo { background: #fff; position: relative; z-index:9; }
.banner_section .banner_logo:after { position: absolute; top: 0; right: 0; width: 2px; height: 100%; content: ""; background: #fff; z-index: 9; }
.banner_section .banner_logo .item { text-align: center; }
.banner_section .banner_logo .item:after { content: ""; width: 1px; height: 72px; background: rgba(0, 0, 0, 0.30); position: absolute; right: 0; top: 25%; }
.banner_section .banner_logo a { display: inline-block; color: #000; padding: 20px; border-radius: 20px 20px 0px 0px; position: relative; }
.banner_section .banner_logo a:hover:after { width: 100%; height: 120%; border-radius: 20px 20px 0px 0px; background: #00AFE7; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); content: ""; position: absolute; top: -25px; left: 0; }
.banner_section .banner_logo a:hover span { color: #fff; }
.banner_section .banner_logo span { display: block; font-size: 14px; color: #000; position: relative; z-index: 9; padding-top: 5px; }
.banner_section .banner_logo img { width: auto !important; display: inline-block !important; position: relative; z-index: 9; }
.banner_section .banner_logo_section { position: absolute; bottom: 0; left: 0; width: 100%; }
.banner_section .owl-nav .owl-prev{position:absolute;top:45%;left:0;width:68px;height:68px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top 23px center no-repeat!important;background-size:24px 24px;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.banner_section .owl-nav .owl-prev:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top no-repeat;background-size:24px 24px}
.banner_section .owl-nav .owl-next{position:absolute;top:45%;right:0;width:68px;height:68px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top 23px center no-repeat!important;background-size:24px 24px;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.banner_section .owl-nav .owl-next:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top no-repeat;background-size:24px 24px}
.banner_section .owl-theme .owl-controls { margin: 0; }

/*marquee section*/
.marquee-section { background: #f7f7f7; }
.marquee-section .container { max-width: 100%; }
.marquee-section .row { align-items: center; }
.marquee-section .left { background: url(http://134.209.222.136/mle/images/rectangle.svg) left no-repeat; padding: 18px; }
.marquee-section h3 { color: #FFF; font-size: 18px; font-weight: 700; margin: 0; position: relative; padding-left: 30px; }
.marquee-section h3:after { content: ''; position: absolute; width: 8px; height: 8px; background: #FDA103; left: 3px; top: 9px; border-radius: 50%; box-shadow: 0 0 5px #FDA103; }
.marquee-section ul { list-style: none; margin: 0; display: flex; }
.marquee-section li { color: #222; font-size: 15px; margin: 0 0 0 20px; position: relative; padding: 0 20px; } 
.marquee-section li:after { content: ''; position: absolute; width: 1px; height: 100%; background: #222; right: 0; top: 0; }
.marquee-section li:before { content: ''; position: absolute; width: 8px; height: 8px; background: #FDA103; left: 0; top: 5px; border-radius: 50%; box-shadow: 0 0 5px #FDA103; }
.marquee-section li:first-child { margin-left: 0; }
.marquee-section li:last-child:after { display: none; }
.marquee-section .right { padding-right: 0; }
.marquee-section .right button { width: 60px; padding: 14px 0; border-radius: 0; background: #3E3D79; text-align: center; float: right; }
.marquee-section .right button:hover, .marquee-section .right button:focus { outline: none; } 
.marquee-section .right button span { display: inline-block; padding: 5px; border: solid 2px #fff; border-radius: 50%; line-height: 0; }
	
/*about section*/
.about_section { padding: 50px 0 70px; }
.about_section ul { list-style: none; margin: 0; }
.about_section .about h2 { color: #000; font-size: 18px; font-weight: 700; position: relative; margin: 0 0 15px; }
.about_section .about h2:after { position: absolute; bottom: -15px; left: 0; width: 70px; height: 1px; background: #FDA103; content: ""; }
.about_section .about p { color: rgba(0, 0, 0, 0.60); font-size: 14px; padding-top: 16px; line-height: normal; text-align: justify; margin: 0; }
.about_section .about a { color: #000; font-size: 15px; font-weight: 700; display: inline-block; margin-top: 18px; }
.about_section .about .text { background: rgba(244, 244, 244, 0.70); padding: 30px; }
.about_section .cards { padding-left: 0; }
.about_section .cards li { margin: 0 0 15px; border: 1px solid #0093B9; background: rgba(0, 147, 185, 0.10); }
.about_section .cards li:first-child { border: 1px solid #26C6DA; background: #E3F8FA; }
.about_section .cards li:last-child { border: 1px solid #FFD422; background: rgba(255, 212, 34, 0.10); margin-bottom: 0; }
.about_section .cards span { color: #000; font-size: 13px; padding-bottom: 5px; display: block; }
.about_section .cards em { color: #000; font-size: 13px; padding-top: 5px; display: block; font-style: normal; }
.about_section .cards h3 { color: #000; font-size: 22px; font-weight: 700; margin: 0; }
.about_section .cards .row, .about_section .leader .row { align-items: center; }
.about_section .leader ul { margin-left: 15px; }
.about_section .leader li { margin: 0 0 15px; border-bottom: solid 1px #44D500; }
.about_section .leader li:first-child img { margin-top: -17px; }
.about_section .leader li:first-child { border-bottom: solid 1px #FDA103;  }
.about_section .leader li:last-child { border-bottom: solid 1px #FF677B;  margin-bottom: 0; }
.about_section .leader h3 { color: #373435; font-size: 18px; font-weight: 700; margin: 0; }
.about_section .leader span { color: #373435; font-size: 16px; padding-top: 10px; }

/*feature section*/
.feature_section { background: url(http://134.209.222.136/mle/images/feature-bg.png) top center no-repeat; background-size: cover; } 
.feature_section .overlay { padding: 60px 0; background: #3E3D79; }
.feature_section .inner { background: #fff; }
.feature_section .inner .row { align-items: center; }
.feature_section h3 { color: #000; font-size: 22px; font-weight: 700; margin: 0; text-align: center; }
.feature_section .inner { position: relative; }
.feature_section .inner:after { position: absolute; top: 0; right: 0; width: 4px; height: 100%; background: #09AEE1; content: ""; }
.feature_section .inner.inner1:after { background: #E5950B; }
.feature_section .inner.inner3:after { background: rgba(0, 242, 155, 0.72); }
.feature_section .same-box .image { background: #09AEE1; padding: 20px; text-align: center; }
.feature_section .same-box:first-child .image { background: #E5950B; }
.feature_section .same-box:last-child .image { background: rgba(0, 242, 155, 0.72); }
.feature_section .same-box .image img { display: inline-block; }

/*event section*/
.event_section { padding: 50px 0; }
.event_section h2 { color: #000; font-size: 22px; font-weight: 700; margin: 0 0 25px; position: relative; display: inline-block; }
.event_section h2:after { background: #FDA103; position: absolute; top: 14px; right: -90px; content: ""; width: 70px; height: 1px; } 
.event_section .testimonial .inner-right { background: url(http://134.209.222.136/mle/images/test-bg.png) top center no-repeat; background-size: cover; height: 100%; }
.event_section .testimonial .inner-right .overlay { width: 100%; height: 100%; background: rgba(9, 174, 225, 0.6); }
.event_section .testimonial .inner-right h2 { padding-bottom: 25px; margin: 0; width: 100%; background: #fff; }
.event_section .testimonial .inner-right h2:after { background: #FDA103; position: absolute; top: 14px; left: 155px; content: ""; width: 70px; height: 1px; } 
.event_section ul { list-style: none; margin: 0; } 
.event_section li { margin: 0; }
.event_section .item { height: 100%; }
.event_section .testimonial-slider { height: 100%; }
.event_section .owl-stage-outer { height: 100%; }
.event_section .owl-stage { height: 100%; }
.event_section .owl-item { height: 100%; }
.event_section .left .text { padding: 23px 23px 36px }
.event_section .left .text a { color: #000; font-size: 16px; font-weight: 700; display: inline-block; margin-top: 18px; }
.event_section h3 { color: #000; font-size: 22px; font-weight: 700; text-transform: capitalize; margin: 0; }
.event_section .right li { margin: 0 0 24px; background: rgba(244, 244, 244, 0.70); }
.event_section .right li:last-child { margin-bottom: 0; }
.event_section .right .image { padding-right: 0; }
.event_section .right .image img { width: 100%; }
.event_section .right .text-inner { padding-left: 0; }
.event_section .right .text { padding: 25px 40px; background: none; }
.event_section .left .text p { padding-top: 25px; line-height: 17px; }
.event_section .text p { color: rgba(0, 0, 0, 0.60); font-size: 14px; padding-top: 10px; line-height: normal; margin: 0; }
.event_section .testimonial { overflow: hidden; }
.event_section .testimonial .slide-box { text-align: center; padding: 30px 25px; }
.event_section .testimonial .image { width: 200px; height: 200px; border-radius: 50%; border: solid 2px #fff; margin: 0 auto; }
.event_section .testimonial img { display: inline-block; width: 100%; height: 100%; }
.event_section .testimonial h4 { color: #FFF; font-size: 20px; font-weight: 700; text-transform: capitalize; padding-top: 28px; margin: 0; }
.event_section .testimonial p { color: #FFF; font-size: 16px; text-transform: capitalize; text-align: left; padding: 12px 0 40px; margin: 0; line-height: normal; }
.event_section .testimonial a { color: #FFF; font-size: 14px; font-weight: 700; display: inline-block; text-decoration: underline; }
.event_section .testimonial .owl-nav .owl-prev{position:absolute;top:45%;left:0;width:44px;height:44px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top 14px center no-repeat!important;background-size:16px 16px !important;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.event_section .testimonial .owl-nav .owl-prev:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top no-repeat;background-size:16px 16px !important;}
.event_section .testimonial .owl-nav .owl-next{position:absolute;top:45%;right:0;width:44px;height:44px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top 14px center no-repeat!important;background-size:16px 16px !important;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.event_section .testimonial .owl-nav .owl-next:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top no-repeat;background-size:16px 16px !important}
.event_section .text { background: rgba(244, 244, 244, 0.70); }


/*gallery section*/
.gallery_section { padding: 0 0 50px; }
.gallery_section h2 { color: #000; font-size: 22px; font-weight: 700; margin: 0 0 25px; position: relative; display: inline-block; }
.gallery_section h2:after { background: #FDA103; position: absolute; top: 14px; right: -90px; content: ""; width: 70px; height: 1px; } 
.gallery_section .left .top_image { margin-bottom: 27px; }
.gallery_section span { float: right; margin-top: 7px; display: inline-block; }
.gallery_section span a {color: #000; font-size: 14px; font-weight: 700; text-decoration: underline; text-transform: capitalize; }
.gallery_section .right .image { position: relative; }
.gallery_section .right .image .play_pause { position: absolute; top: 50%; left: 50%; width: 150px; height: 150px; z-index: 9; transform: translate(-50%, -50%); }
.gallery_section .right .image .overlay { background: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; position: absolute; top: 0; left: 0; }
.gallery_section .right .image a { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #ffd422; font-size: 25px; z-index: 99; width: 150px; height: 150px; }
.gallery_section .right .image i { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.gallery_section .tz-gallery a:hover:after { position: absolute; top: 0; left: 0; background: url(http://134.209.222.136/mle/images/zoom-in.png) top no-repeat; content: ""; width: 50px; height: 50px; top: 50%; left: 50%; transform: translate(-50%,-50%); }
.gallery_section .tz-gallery a { position: relative; }
.gallery_modal iframe { width: 100%; height: 400px; }
.gallery_section .waves{position:absolute;width:150px;height:150px;background:rgba(0,0,0,0.3);opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);border-radius:100%;top:0;left:0;z-index:-1;-webkit-animation:waves 3s ease-in-out infinite;animation:waves 3s ease-in-out infinite}
.gallery_section .wave-1{background:#fff;-webkit-animation-delay:0;animation-delay:0}
.gallery_section .wave-2{-webkit-animation-delay:1s;animation-delay:1s;background:rgba(255,255,255,0.6)}
.gallery_section .wave-3{background:rgba(255,255,255,0.3);-webkit-animation-delay:2s;animation-delay:2s}



/*logo section*/
.logo_section { padding: 32px 0; background: #f7f7f7; }
.logo_section .image { text-align: center; display: inline-block !important; background: #fff; }
.logo_section img { width: auto !important; }
.logo_section .owl-nav .owl-prev{position:absolute;top:30%;left:-45px;width:44px;height:44px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top 14px center no-repeat!important;background-size:16px 16px !important;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.logo_section .owl-nav .owl-prev:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-prev.png) top no-repeat;background-size:16px 16px !important;}
.logo_section .owl-nav .owl-next{position:absolute;top:30%;right:-45px;width:44px;height:44px;background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top 14px center no-repeat!important;background-size:16px 16px !important;text-indent:-99999px;margin:0 !important;padding:0 !important;z-index:9; border-radius: 0 !important;}
.logo_section .owl-nav .owl-next:hover{background:#FDA103 url(http://134.209.222.136/mle/images/banner-next.png) top no-repeat;background-size:16px 16px !important}
.logo_section .owl-controls { margin: 0 !important; }


/*mobile menu*/
.header .mid-side { position: relative; }
.mobile_menu { position: absolute; top: 20px; right: 15px; display: none; cursor: pointer; }
.mobile_menu .fa-bars { background: #3E3D79; padding: 2px 4px 2px 0; }
.mobile_menu  i { font-size: 25px; color: #fff; }
.left_menu{width:100%;height:100vh;position:fixed;top:0;left:-100%;background-color:#3E3D79;color:#fff;z-index:999999;transition:all ease-in-out .5s}
.show_menu{left:0;opacity:1;transition:all ease-in-out .5s}
.left_menu ul{list-style:none;margin-top:50px}
.left_menu ul li{padding:5px 0}
.left_menu ul li a{color:#fff}
.fa_times{float:right;margin:10px}
.left_menu i{font-size:25px;cursor:pointer;padding:10px 10px 0 0}
.fa_bars{margin-top:7px}
.hide{display:none}
.show{display:block}

/*playpause*/
.playpause label{box-sizing:border-box;height:10px;border-color:transparent transparent transparent #fff;transition:50ms all ease;cursor:pointer;border-style:double;border-width:0 0 0 10px;margin-top:8px}
.playpause{width:30px;border:solid 2px #fff;border-radius:50%;height:30px;margin:0 auto;text-align:center}
.playpause input[type=checkbox]:checked + label{border-style:solid;border-width:7px 0 7px 9px;margin:6px auto 0}
.playpause input[type=checkbox]:focus + label{box-shadow:0 0 5px #add8e6}
.playpause input[type=checkbox]{position:absolute;left:-9999px}

/*social sidebar*/
.social_sidebar{height:auto;width:0;position:fixed;top:25vh;z-index:999}
.social_sidebar a{color:#fff;float:left;padding:11px;display:block;width:100%}
.social_sidebar a i{font-size:18px}
.social_sidebar .social{width:40px;height:40px;padding:0;background-color:rgba(128,128,128,0.73);cursor:pointer;transition:width .3s ease-in-out;-webkit-transition:width .3s ease-in-out;-moz-transition:width .3s ease-in-out}
.social_sidebar .social:hover{width:60px;border-radius:0 0 30px 0}
.social_sidebar .facebook{background-color:#3b5998}
.social_sidebar .twitter{background-color:#4099FF}
.social_sidebar .youtube{background-color:#DD4B39}
.social_sidebar .instagram{background-color:#C80BE7}


/* <<< footer >>> */
footer { background: #3E3D79; padding: 30px 0 25px; }
footer ul { list-style: none; margin: 0; }
footer li { float: left; margin: 0; position: relative; padding: 0 7px; }
footer li:first-child { padding-left: 0; }
footer li:last-child { padding-right: 0; }
footer li:last-child:after { display: none; }
footer li:after { position: absolute; top: 4px; right: 0; content: ""; width: 1px; height: 70%; background: #fff; }
footer li a { color: #FFF; font-size: 12px; text-transform: capitalize; }
footer p { color: #FFF; font-size: 12px; text-transform: capitalize; margin: 0; padding-top: 5px; }
footer .right { text-align: right; }
footer span { color: #FFF; font-size: 12px;text-transform: capitalize; display: block; }
footer span:last-child { padding-top: 7px; }


/*keyframes*/
@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}





	